.video_class{
    text-transform: capitalize !important;
}

.btn-smal{
    display: inline-block;
    line-height: 1;
    font-weight: 600;
    background: #4680ff;
    color: #fff;
    padding: 0.1875rem 0.3125rem;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 11px;
    margin: 0 4px;
}