<div class="row">
    <div class="col-sm-12">

        <div class="fields">
            <div class="sub-tle">
                FB Settings
            </div>
            <br>
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>FB Client Id</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>FB Client Secret</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>FB CallBack</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
            </div>

            <div class="sub-tle">
                Google Settings
            </div>
            <br>
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Google Client Id</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Google Client Secret</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Google CallBack</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="form-group text-center">
                    <button type="button" class="btn btn-warning">Reset</button>&nbsp;
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>