<div class="row">
    <div class="col-sm-12">

        <div class="fields">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>SOCKET URL
                            </span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                        <small class="form-text text-muted">Ex : https://IP_ADDRESS_OR_DOMAIN:9001/</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Kurento Socket Url
                            </span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                        <small class="form-text text-muted">Ex : IP_ADDRESS_OR_DOMAIN:8443</small>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Wowza Server Url</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                        <small class="form-text text-muted">Ex : IP_ADDRESS_OR_DOMAIN:8087

                        </small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Cross Platform Url

                            </span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                        <small class="form-text text-muted">Ex : IP_ADDRESS_OR_DOMAIN:1935

                        </small>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Chat Socket Url

                            </span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                        <small class="form-text text-muted">Ex : http://IP_ADDRESS_OR_DOMAIN:3002/</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Wowza IpAddress
                            </span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                        <small class="form-text text-muted">Ex : 127.0.0.1</small>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Jwplayer Key</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Mobile RTMP</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Live streaming Close Hour
                            </span>
                        </div>
                        <input type="number" placeholder="" class="form-control">
                        <small class="form-text text-muted">The text in the field represents, the videos which are
                            deleted beyond the limit in hours. Ex: 2017-06-10 00:00 AM - 2 hrs = 2017-06-09 22:00 PM

                        </small>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-warning">Reset</button>&nbsp;
                        <button type="button" class="btn btn-primary">Submit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>