<div class="row">

    <div class="col-xl-12 col-sm-12">
        <div class="card custom-card">

            <div class="row p-b-10">
                <div class="col-sm-6 cus-stle">
                    View Notifications
                </div>
                <div class="col-sm-6">
                    <div class="addBtn">
                        <button type="button" class="btn btn-primary" (click)="addNotification()"><i class="feather icon-plus"></i>
                            Add Notification</button>
                    </div>
                </div>
            </div>

            <div class="table-responsive" *ngIf="userTableOptions">
                <table datatable [dtOptions]="userTableOptions" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Subject</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th>Modified Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let gift of notificationData; let i=index;">
                            <td>{{ i+1 }}</td>
                            <td><a (click)="view(gift.id)">{{ gift.subject }}</a></td>
                            <td>{{ gift.type }}</td>
                            <td>{{ gift.description }}</td>
                            <td>{{ gift.status }}</td>
                            <td> {{ gift.created_date }} </td>
                            <td>{{ gift.modified_date ? gift.modified_date : '' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-loader *ngIf="showLoading"></app-loader>