.buttons-excel{
    border-color: #333 !important;
    background-color: #B39900 !important;
    background: #B39900 !important;
}
.buttons-csv{
    border-color: #333 !important;
    background-color: #B39900 !important;
    background: #B39900 !important;
}

.dt-buttons .dt-button.buttons-excel.buttons-html5{
    border-color: #333 !important;
    background-color: #B39900 !important;
    background: #B39900 !important;
}

.custom.form-control.w-100{
    width: 100% !important;
}

button.dt-button, div.dt-button, a.dt-button, input.dt-button{
color: #fff !important;
}