<div class="row">
    <div class="col-sm-12">

        <div class="fields">

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Admin Commission in %</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>User Commission in %</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>

            </div>
            <h4 class="m-b-1 u-c"> VOD COMMISSION SPLIT</h4>            
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Admin Commission in %</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>User Commission in %</span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>

            </div>


            <div class="col-sm-12">
                <div class="form-group text-center">
                    <button type="button" class="btn btn-warning">Reset</button>&nbsp;
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>