<div class="row">
    <div class="col-sm-12">

        <div class="fields">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Meta Title </span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Meta Author </span>
                        </div>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Meta Keywords</span>
                        </div>
                        <textarea type="text" placeholder="" class="form-control"></textarea>

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="cus-label">
                            <span>Meta Description</span>
                        </div>
                        <textarea type="text" placeholder="" class="form-control"></textarea>

                    </div>
                </div>



                <div class="col-sm-12">
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-warning">Reset</button>&nbsp;
                        <button type="button" class="btn btn-primary">Submit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>