<div class="row">
    <div class="col-xl-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row mt-3 mb-3">
                    <div class="col-sm-12">
                        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs custom-nav">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>Lock by Password</a>
                                <ng-template ngbNavContent>
                                    <!-- <div class="row ">
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="wss://ms.ratulive.com?sessionId=BQkBFzre77ZHk4OjzucJz6rYQ552&token=tok_USTyDAOm1nwPDFq8&webrtcStatsInterval=30"
                                                    frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        
                                                        <div class="col">
                                                            <h5 class="card-title">Jaqeline FernandeZz</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/QEZbiQTd8Sw" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Alia</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/I1EPM5JPAYI" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Sam</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/YYvvnHroPdw" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Jam</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/WM_OEoC55oo" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Kim</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/C9_8rWMBgpY" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Lynda</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>

                                    </div> -->
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>Lock by Crowns</a>
                                <ng-template ngbNavContent>
                                    <!-- <div class="row ">
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/y5c7RgaOYrg" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Jaqeline Fernandez</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/QEZbiQTd8Sw" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Alia</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/I1EPM5JPAYI" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Sam</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/YYvvnHroPdw" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Jam</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/WM_OEoC55oo" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Kim</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/C9_8rWMBgpY" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Lynda</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>

                                    </div> -->
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3">
                                <a ngbNavLink>Lock by Public</a>
                                <ng-template ngbNavContent>
                                    <!-- <div class="row ">
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/y5c7RgaOYrg" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Jaqeline Fernandez</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/QEZbiQTd8Sw" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Alia</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/I1EPM5JPAYI" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Sam</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/YYvvnHroPdw" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Jam</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/WM_OEoC55oo" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Kim</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 my-2">
                                            <div class="card mb-3">
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/C9_8rWMBgpY" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title">Lynda</h5>
                                                        </div>
                                                        <div class="col text-right">
                                                            <button class="btn btn-primary btn-smal">More</button>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"><small class="text-muted">Ended at 08:29 pm
                                                            30/12/2020</small></p>
                                                </div>
                                            </div>
                                        </div>

                                    </div> -->
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class="mt-2"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>